<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入数据源属性文件-->
    <properties resource="jdbc.properties"/>

    <!--MyBatis全局配置-->
    <settings>
        <!--将数据库中字段下划线命名方式自动的转换为Java标识符驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <!--延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--展示日志信息-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--类型别名配置-->
    <typeAliases>
        <!--<package name="gaozhu.francis.pojo"/>-->
    </typeAliases>

    <!--环境配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射配置-->
    <mappers>
        <package name="gaozhu.francis.mapper"/>
    </mappers>
</configuration>