<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gaozhu.francis.mapper.AccountMapper">
    <resultMap id="account" type="gaozhu.francis.pojo.Account">
        <id property="id" column="a_id"/>
        <result property="userName" column="a_user_name"/>
        <result property="userPassword" column="a_user_password"/>
        <result property="age" column="a_age"/>
        <result property="sex" column="a_sex"/>
        <result property="phone" column="a_phone"/>
        <result property="registerDate" column="a_register_date"/>
    </resultMap>


    <insert id="insertNewAccountGetId" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_account`(a_user_name, a_user_password, a_age, a_phone, a_register_date)
        VALUES (#{userName}, #{userPassword}, #{age}, #{phone}, #{registerDate})
    </insert>
</mapper>